
body
{
    margin: 0px;
}
.topcontainer
{
    justify-content: center;
    align-items: center;
    position: absolute;
    align-content: center;
    display:flex;
    background-color: hsl(0%, 0%, 0%);
    background-blend-mode: lighten;
    height: 75px;
    width: 100%;
    position:static ;
    margin-top: 0px;
    border-bottom: solid ;
}
.container2{
    margin-right: 15%;
}

.falcon
{
    margin-top: 13px;
    margin-left:0px;
}
.txtname
{
    display: inline;
    position: absolute ;
    margin-left: 10px;
    margin-top: 20px; 
    font-size: xx-large;
}
.loginform
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border:solid;
    box-shadow: inset;
    margin: 20px 550px 20px 550px ;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3); 
    box-shadow: inset;
    font-size: medium;
    
}
.regitext{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background:rgba(255, 255, 255,0.35);
    box-shadow: inset;
    font-size:large;
    
}





